<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Series </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      @for (serie of series; track $index) {
      <ion-col size="6">
        <ion-card
          [ngClass]="{ 'disabled-card': serie.viewed }"
          (click)="presentActionSheet(serie)"
        >
          <ion-img [src]="serie.image"></ion-img>
          <ion-card-content>
            <ion-text>{{ serie.name }}</ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
      }
    </ion-row>
  </ion-grid>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="getRandomSerie()">
        <ion-icon name="shuffle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-modal
    #modal
    id="randomSerieModal"
    [isOpen]="isRandomModalOpen"
    (ionModalDidDismiss)="isRandomModalOpen = false"
  >
    <ng-template>
      <div class="wrapper">
        <ion-text><h1>La serie random es...</h1></ion-text>
        <ion-img [src]="randomSerie.image"></ion-img>
        <ion-text><h1>{{ randomSerie.name }}</h1></ion-text>

        <ion-button fill="outline" (click)="markSerieAsViewed()">
          Ver
          <ion-icon style="margin-left: 10px" name="eye-outline"></ion-icon>
        </ion-button>
        <ion-button
          color="danger"
          fill="outline"
          (click)="isRandomModalOpen = false"
        >
          Cerrar
          <ion-icon style="margin-left: 10px" name="close-outline"></ion-icon>
        </ion-button>
      </div>
    </ng-template>
  </ion-modal>
  <ion-toast
    message="La serie se marcó como vista"
    swipeGesture="vertical"
    [isOpen]="isToastOpen"
    [duration]="3000"
    (didDismiss)="isToastOpen = false"
  ></ion-toast>
</ion-content>
