<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Minipuntos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (user) {
  <ion-card class="user-card">
    <ion-card-content>
      <div class="card-content">
        <div class="user-info">
          <ion-icon name="person-circle-outline"></ion-icon>
          <span class="username">{{ user.name }}</span>
        </div>
        <div class="coins">
          <span class="coin-count">{{ user.coins }}</span>
          <ion-icon id="coins" name="cash-outline"></ion-icon>
          <ion-button
            size="small"
            fill="clear"
            color="medium"
            id="open-modal"
            expand="block"
          >
            <ion-icon name="pencil-outline" style="font-size: 20px"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  }

  <ion-grid>
    <ion-row>
      @for (award of awards; track $index) {
      <ion-col size="6">
        <ion-card
          (click)="presentActionSheet(award)"
          [ngClass]="{'disabled-card': user.coins < award.coins}"
        >
          <ion-card-content>
            <div class="card-content">
              <ion-text>{{ award.name }}</ion-text>
              <div style="display: flex; align-items: center; gap: 5px">
                <ion-text>{{ award.coins }}</ion-text>
                <ion-icon name="cash-outline"></ion-icon>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      }
    </ion-row>
  </ion-grid>

  <ion-modal
    #modal
    trigger="open-modal"
    [initialBreakpoint]="0.5"
    [breakpoints]="[0, 0.25, 0.5, 0.75]"
  >
    <ng-template>
      <ion-content>
        <div style="height: 100%">
          <div
            style="
              height: 20%;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 25px;
            "
          >
            <ion-button
              size="large"
              shape="round"
              color="danger"
              (click)="user.coins = user.coins - 1"
            >
              <ion-icon name="remove"></ion-icon>
            </ion-button>
            <div style="display: flex; gap: 10px">
              <span style="font-size: 20px">{{ user.coins }}</span>
              <ion-icon
                name="cash-outline"
                style="font-size: 30px; color: gold"
              ></ion-icon>
            </div>
            <ion-button
              size="large"
              shape="round"
              color="success"
              (click)="user.coins = user.coins + 1"
            >
              <ion-icon name="add" style="color: white"></ion-icon>
            </ion-button>
          </div>

          <ion-button
            expand="full"
            class="text-xl px-8"
            shape="round"
            (click)="updateUser(); modal.dismiss()"
          >
            Aceptar
          </ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
